{{ range $index, $lc := $.color.logo  }}
  {{ $options := index $lc.cid }}
  {{- delimit $options -}}
{{- end -}}

{{ with .color.logo }}
  {{ $i := $.Site.Data.products.color.logo.cid }}
  {{ if ne $i nil }}
    {{ string (index $i) }}
  {{ end }} <!-- end if -->
{{ end }} <!-- end with -->

{{ range $index, $lc := .color.logo  }}
  {{ $options := index $lc.cid }}
  {{ slice $options }}
{{ end }}

{{- if isset .color "logo" -}}
  {{- range $index, $lc := .color.logo -}}
    {{- $options := index $lc "cid" -}}
    {{- $options -}}
  {{- end -}}
{{- end -}}

{{ with .Site.Data.products.color.logo }}
  {{ $options := index .Site.Data.products.color.logo "cid" }}
  {{ $options }}
{{- end -}}

{{ if isset .Site.Data.products.color.logo "cid" }}
  {{ $option := index .Site.Data.products.color.logo "cid" }}
  {{ $option }}
{{ end }}


{{ if isset .Site.Data.products.color.logo "cid" }}
  {{ $lcLen := len .Site.Data.products.color.logo.cid }}
  {{ if gt $lcLen 0 }}
    {{ range $index, $lc := .Site.Data.products.color.logo.cid }}
      {{ $lc }}
      <!-- The comma will be inserted below -->
      {{ if lt $index (sub $lcLen 1) }},{{ end }}
    {{ end }}
  {{ end }}
{{ end }}


<div class="t-product-options">
  {{ with gt (len .color.logo) 1 }}
    <div class="product_opt product_color--logo">
      <label for="{{ $.brand_id }}{{ $.id }}_lc">
        Logo Color: <br>
      </label>
      <ul>
        {{ range $index, $color := $.color.logo }}
        <li><a class="product_select color logo {{ $color.cid }}" href="#">{{ index $color "name" }}</a></li>
        {{ end }} <!-- end logo color range -->
      </ul>         
    </div>
  {{ else }}
    <div class="product_opt color logo">
      Logo Color: <br> {{- range $e := .color.logo -}}{{- $option := index $e "name" -}}{{- $option -}}{{- end -}}
    </div>
  {{ end }} <!-- end color selection -->
  {{ with gt (len .color.product) 1 }}
    <div class="product_opt product_color--product">
      <label for="{{ $.brand_id }}{{ $.id }}_pc">
      Product Color: <br>
        <select data-placeholder="Product Color" data-type="select" title ="Select Product Color" class="product_select color product" id="{{ $.brand_id }}{{ $.id }}_pc">
          {{ range $index, $color := $.color.product }}
            <option class="{{ $color.cid }}" value="{{ index $color "name" }}">{{ index $color "name" }}</option>
          {{ end }} <!-- end size range -->
        </select>
      </label>
    </div>
  {{ else }}
    <div class="product_opt color product">
      Product Color: <div style="color: rgba(254, 214, 48, 1);"> {{- range $e := .color.product -}}{{- $option := index $e "name" -}}{{- $option -}}{{- end -}}</div>
    </div>
  {{ end }} <!-- end color selection -->
  {{ with .product_size }}
    <div class="product_opt product_size">
      <label for="{{ $.brand_id }}{{ $.id }}_size">
        Size: <br>
        <select data-placeholder="Size" data-type="select" title ="Select Product Size" class="product_select size" id="{{ $.brand_id }}{{ $.id }}_size">
          {{ range $index, $size := $.product_size }}
            <option class="{{ $size | urlize }}" value="{{ index $.product_size $index }}">{{ index $.product_size $index }}</option>
          {{ end }} <!-- end size range -->
        </select>
      </label>
    </div>
  {{ end }} <!-- end with product sizes -->

  <!-- product quantity -->
  <div class="product_opt product_quantity">
    <label for="{{ $.brand_id }}{{ $.id }}_quantity">Quantity: </label><br><input class="product_input quantity" id="{{ $.brand_id }}{{ $.id }}_quantity" type="number" value="1"/>
  </div>

  {{- partial "_cart_button.html" . -}}
</div>